h1{
    font-size: 3vw;
}
.transaction-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    text-align: center;
    align-content: center;


}
.table-headers{
    display: grid;
    grid-template-columns: auto auto auto ;
    text-align: center;
    align-content: center;
    font-weight: bold;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
}
.operations-container{
    display: grid;
    grid-auto-flow: 1fr 1fr;
}

.input-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
}
.input-container input{
    outline: 0;
    border-width: 0 0 .05px ;
    border-color: blue;
    width: 90%;
    background-color: #95afc0;
}
.button-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.button{
    width: 20vw;
    height:10vh;
    background-color: cadetblue;
    text-align: center;
}